body {
  background: #f4f4f4;
  font-family: Arial;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.hidden {
  display: none;
}

.row {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 15px;
}

.gameCard .infoRow {
  display: flex;
  justify-content: space-between;
}

.card .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card .symbol {
  margin: 2px;
}

.card .symbols {
  display: flex;
  justify-content: center;
}

.card.selected {
  outline: 3px solid #5fa8ff;
}

.card.correct {
  background: #d7ffe0;
}

.card.wrong {
  background: #ffd4d4;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  flex: 1;
}

.green { background: #59d36c; color: white; }
.gray  { background: #ccc; }
.blue  { background: #4c8df5; color: white; }
